{% extends "layout.html" %} 

{% block title %} 
    index 
{% endblock %} 

{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th >Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    {% for symbol, stock_data in stocks.items() %}
        <tr>
            <td>{{ symbol }}</td>
            <td>{{ stock_data['shares'] }}</td>
            <td>{{ stock_data['price_per_share'] }}</td>
            <td>{{ stock_data['total_price'] }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>CASH</td>
        <td colspan="2"></td>
        <td>{{ available_cash }}</td>
    </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3"></td>
    <th>{{ cash }}</th>
  </tr>
  </tfoot>
</table>
{% endblock %}
